<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="SwingBeanPlugin.contribution1"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               label="SwingBean Descriptor"
               path="additions"
               id="SwingBeanPlugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
	           id="SwingBeanPlugin.SwingBeanAction"
               label="Create Descriptor..."
               menubarPath="SwingBeanPlugin.menu1/group1"
               class="org.swingbean.plugin.popup.actions.SwingBeanAction"
               enablesFor="1">
         </action>
      </objectContribution>
   </extension>

</plugin>
